

header {
	padding: 0px;
	width: 100%;
	text-align: center;
}


.center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-direction: column;
}

.home-container {
	padding: 0.5rem;
	border: 1px solid var(--color-text);
	filter: brightness(103%);
	background-color: var(--color-base);
	box-shadow: 15px -8px var(--color-primary);
	/* move box-shadow in relation to
	 * the direction of the mouse 
	 * from the div.
	*/

	width: 30rem;
	height: 25rem;
}

.home-content {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.main-content {
	gap: 0px;
	/* border: 1px solid black; */
	padding: 0.5rem;
}

.divider-vertical {
	border-right: 1px solid var(--color-text);
	opacity: 0.2;
	margin: 1.5rem 0px;
}
.divider-horizontal {
	border-bottom: 1px solid var(--color-text);
	opacity: 0.2;
}

.max-item {
	flex: 1;
}

.side-nav {
	height: 100%;
	padding: 0rem 0.5rem;
	width: min-content;
}

.side-nav * {
	display: block;
	width: 100%;
	text-align: justify;
}
