:root {
	--font-size-header: 2.5rem;
	--font-size-h2: 2rem;
	--font-size-h3: 1.15rem;
	--font-size-base: 1rem;
	--font-size-title: 1.35rem;
	--font-size-light: 0.85rem;

	--color-base: rgb(253 242 230);
	--color-base-half-transparent: rgba(253, 242, 230, 0.6);
	--color-text: rgb(5 5 5);
	--color-text-light: rgb(100 100 100);

	--color-primary: rgb(186 205 176);
	--color-primary-transparent: rgba(186, 205, 176, 0.6);
	--color-primary-content: rgb(46 44 47);

	--color-secondary: rgb(19 111 99);
	--color-secondary-content: rgb(243 232 238);

	--color-accent: rgb(184 115 51); /* find a better color accent for this */
	--color-accent-shade: rgb(154 85 21);
	--color-accent-light: rgb(214 142 91);

	--color-warn: orange;

	--highlight-color: rgba(186, 205, 176, 0.2);
}

@font-face {
	font-family: "Fira Sans";
	src: url("/shared/fonts/FiraSans-Light.ttf") format("truetype");
	font-display: block;
}
@font-face {
	font-family: "Coustard";
	src: url("/shared/fonts/Coustard-Regular.ttf") format("truetype");
	font-display: block;
}

html {
	background-color: var(--color-base);
	height: 100%;
}

#umbrella-background {
	position: fixed;
	inset: 0;
	z-index: -20;

	opacity: 0;
	transition: opacity 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}
#umbrella-background video,
#umbrella-background img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#umbrella-background.loaded {
	opacity: 1;
}

h1 {
	font-size: var(--font-size-header);
	font-family: "Coustard", serif;
	font-weight: 400;
	font-style: normal;
	margin: 0px;
	padding: 0px;
	color: var(--color-text);

	text-shadow: 2px 1px var(--color-primary);
	transition: text-shadow 0.5s ease-in;
}
h1:hover {
	text-shadow: 4px 3px var(--color-primary);
	transition: text-shadow 0.2s ease-out;
}

.title {
	font-size: var(--font-size-title);
	padding: 0.5rem 0px;
}
h2 {
	font-size: var(--font-size-h2);
	font-family: "Coustard", serif;
	src: var(--gloria-font-path) format("truetype");
	font-weight: 400;
	font-style: normal;
	margin: 0px;
	padding: 0px;
	color: var(--color-secondary);
	font-display: block;

	text-shadow: 2px 1px var(--color-primary);
	transition: text-shadow 0.5s ease-in;
}
h2:hover {
	text-shadow: 4px 3px var(--color-primary);
	transition: text-shadow 0.2s ease-out;
}

h3 {
	font-size: var(--font-size-h3);
	font-family: "Coustard", serif;
	src: var(--gloria-font-path) format("truetype");
	font-weight: 400;
	font-style: normal;
	margin: 0px;
	padding: 0px;
	margin: 0px;
	color: var(--color-text);
	font-display: block;
}

img {
	width: 100%;
	object-fit: contain;
	background-color: transparent;
}

p,
a,
button,
.coming-soon {
	font-size: var(--font-size-base);
	font-family: "Fira Sans", sans-serif;
	src: var(--coming-font-path) format("truetype");
	font-weight: 400;
	font-style: normal;
	margin: 0px;
	color: var(--color-text);
	font-display: block;
}
*::selection {
	background-color: var(--color-primary-transparent);
}

.small-text {
	font-weight: 300;
	font-size: var(--font-size-light);
}
.light-color {
	color: var(--color-text-light);
}
a {
	font-style: italic;
	text-decoration: none;
	margin: 0px;
	font-weight: bold;
	transition: color 0.5s ease-in;
}
a:link {
	color: var(--color-accent-shade);
}
a:visited {
	color: var(--color-accent-shade);
}
a:hover {
	color: var(--color-accent-light);
	transition: color 0.2s ease-out;
}

.block {
	display: block;
}

body {
	margin: 0;
	padding: 0;
	height: 100dvh;
}

.shell {
	transition: all 0.3 ease-in;
	scrollbar-width: none;
	overflow-y: hidden;
}
.shell::-webkit-scrollbar {
	display: none;
}

.center {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-direction: column;
	gap: 0.2rem;
	padding: 0.5rem;
	box-sizing: border-box;
}
.main-container {
	position: relative;
	padding: 0.5rem;
	border: 1px solid var(--color-text);
	background-color: var(--color-base-half-transparent);
	backdrop-filter: blur(10px);
	overflow: hidden;
	z-index: 0;
	box-sizing: border-box;
}
.main-container::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	opacity: 0.3;
	box-shadow: var(--color-text-light) 10px 10px;
}
.normal-container {
	position: relative;
	border: 1px solid var(--color-text);
	background-color: var(--color-base-half-transparent);
	backdrop-filter: blur(10px);
	overflow: hidden;
	z-index: 0;
	box-sizing: border-box;
}

.big-box {
	width: 45rem;
	height: 35rem;
	transition:
		width 0.3s cubic-bezier(0.33, 1, 0.68, 1),
		height 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}
.big-box-width {
	width: 45rem;
	transition:
		width 0.3s cubic-bezier(0.33, 1, 0.68, 1),
		height 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

.big-box.max {
	height: 100%;
	width: 100%;
}
.big-box-width.max {
	width: 100%;
}

/******* DIVIDER ********/

.divider-vertical {
	/** needs an SVG, components are limited with pure HTML */
	width: 0.5rem;
	height: 100%;
	opacity: 0.5;
	padding-left: 8px;
	padding-right: 8px;
	align-self: stretch;
}
.divider-horizontal {
	/** needs an SVG, components are limited with pure HTML */
	height: 0.5rem;
	width: 100%;
	align-self: stretch;
	opacity: 0.5;
	padding-top: 8px;
	padding-bottom: 8px;
}
.divider-vertical svg,
.divider-horizontal svg {
	width: 100%;
	height: 100%;
	display: block;
}
.divider-vertical line,
.divider-horizontal line {
	stroke-width: 10;
	stroke: var(--color-text);
}

/******* MISC ********/

button {
	border: 1px solid var(--color-text);
	background-color: var(--color-primary);
	backdrop-filter: blur(10px);
	box-sizing: border-box;
	padding: 0.1rem 0.4rem;
	position: relative;
}
button:hover {
	background-color: var(--color-primary-transparent);
	transition: background-color 0.2s ease-in;
}

.max-h {
	height: 100%;
}
.max-w {
	width: 100%;
}
br {
	width: 10px;
	height: 10px;
}
.spacer {
	width: 10px;
	height: 10px;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-1 {
	flex: 1;
}
.text-justify {
	text-align: justify;
}

.spoiler {
	background-color: var(--color-text-light);
	color: var(--color-text-light);
	transition:
		background-color 0.3s ease-in,
		color 0.3s ease-in;
}
.spoiler:hover {
	background-color: inherit;
	color: var(--color-text);
}

.wrap-around-element {
	float: left;
	margin-right: 15px;
	margin-bottom: 8px;
}
.clear {
	clear: both;
}
.sq-1 {
	width: 10rem;
	height: 10rem;
}

.desktop-view {
	display: block;
}
.mobile-view {
	display: none;
}

/* /////////////// used only once ///////////////// */
.hide {
	opacity: 0;
}
.red {
	color: red;
}
.blue {
	color: blue;
}
.cadetblue {
	color: cadetblue;
}
.warn {
	color: var(--color-warn);
}
.pb-1 {
	padding-bottom: 1rem;
}
.mb-4px {
	margin-bottom: 4px;
}
.p-half {
	padding: 0.5rem;
}
.list-flex-row {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 5px;
}
.color-secondary {
	color: var(--color-secondary);
}
.object-position {
	object-position: top;
	object-fit: cover;
	width: 100%;
}
.h-12 {
	height: 12rem;
}
#maximize-btn {
	height: 100%;
	width: 5rem;
}
