

.cursor {
	position: fixed;
	pointer-events: none;

	width: 500px;
	height: 500px;
	border-radius: 50%;
	background-color: var(--color-accent);
	transform: translate(-50%, -50%);
	transition: transform 0.1s ease-out;
	z-index: -1;

	opacity: 60%;
}

/* Needed for the scrollbar! */
.scrollbar-thumb {
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 5px;
	z-index: 10;
	border-radius: 10px;
	user-select: none;
	touch-action: none;
	border: 2px solid var(--color-text-light);
	background-color: var(--color-base);
	transition: 
		height 0.1s ease-out,
		width 0.1s ease-out,
		transform 0.1s ease-out;
}

.scrollbar {
	padding-left: 8px;
	padding-right: 8px;
}
