

.cursor {
	position: fixed;
	pointer-events: none;

	width: 500px;
	height: 500px;
	border-radius: 50%;
	background-color: var(--color-accent);
	transform: translate(-50%, -50%);
	transition: transform 0.1s ease-out;
	z-index: -1;

	opacity: 60%;
}

/* Needed for the scrollbar! */
.scrollbar-thumb {
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	z-index: 10;
	border-radius: 50%;
	border: 3px solid var(--color-text-light);
	background-color: var(--color-base);
}
