
@import url("/shared/cursor.css");

:root {
	--font-size-header: 2rem;
	--font-size-second-header: 2rem;
	--font-size-base: 1rem;
	--font-size-title: 1.6rem;
	--font-size-light: 0.85rem;

	--color-base: rgb(253 242 230);
	--color-text: rgb(5 5 5);
	--color-text-light: rgb(100 100 100);
	--color-primary: rgb(186 205 176);
	--color-primary-transparent: rgba(186, 205, 176, 0.8);
	--color-primary-content: rgb(46 44 47);
	--color-secondary: rgb(19 111 99);
	--color-secondary-content: rgb(243 232 238);
	--color-accent: rgb(106 50 159);

	--color-accent-light: rgb(162 122 199);
	--highlight-color: rgba(186 205 176 / 0.2);
}

@font-face {
	font-family: "Gloria Hallelujah";
	src: url("/shared/fonts/GloriaHallelujah-Regular.ttf") format("truetype");
	font-display: swap;
}
@font-face {
	font-family: "Coming Soon";
	src: url("/shared/fonts/ComingSoon-Regular.ttf") format("truetype");
	font-display: swap;
}

html {
	background-color: var(--color-base);
	height: 100%;
}
h1 {
	font-size: var(--font-size-header);
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
	margin: 0px;
	padding: 0px;
	color: var(--color-text);

	text-shadow: 2px 1px var(--color-primary);
	transition: text-shadow 0.5s ease-in;
}
h1:hover {
	text-shadow: 4px 3px var(--color-primary);
	transition: text-shadow 0.2s ease-out;
}

.title {
	font-size: var(--font-size-title);
}
h2 {
	font-size: var(--font-size-second-header);
	font-family: "Gloria Hallelujah", cursive;
	src: var(--gloria-font-path) format("truetype");
	font-weight: 400;
	font-style: normal;
	margin: 0px;
	color: var(--color-secondary);
	font-display: swap;

	text-shadow: 2px 1px var(--color-primary);
	transition: text-shadow 0.5s ease-in;
}
h2:hover {
	text-shadow: 4px 3px var(--color-primary);
	transition: text-shadow 0.2s ease-out;
}

p, a, .coming-soon {
	font-size: var(--font-size-base);
  font-family: "Coming Soon", cursive;
	src: var(--coming-font-path) format("truetype");
  font-weight: 400;
  font-style: normal;
	margin: 0px;
	color: var(--color-text);
	font-display: swap;
}
.small-text {
	font-weight: 300;
	font-size: var(--font-size-light);
}
a {
  font-style: italic;
	text-decoration: none;
	margin: 0px;
	font-weight: bold;
	transition: color 0.5s ease-in;
}
a:link {
	color: var(--color-accent);
}
a:visited {
	color: var(--color-accent);
}
a:hover {
	color: var(--color-accent-light);
	transition: color 0.2s ease-out;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

.shell {
	transition: all 0.3 ease-in;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-direction: column;
}
.main-container {
	padding: 0.5rem;
	border: 1px solid var(--color-text);
	background-color: var(--color-base);
	box-shadow: 15px -8px var(--color-primary-transparent);
}
.big-box {
	width: 30rem;
	height: 25rem;
}
.divider-vertical {
	border-right: 1px solid var(--color-text);
	align-self: stretch;
	opacity: 0.2;
}
.divider-horizontal {
	border-bottom: 1px solid var(--color-text);
	align-self: stretch;
	opacity: 0.2;
}
.max-h {
	height: 100%;
}
.max-w {
	width: 100%;
}
br {
	width: 10px;
	height: 10px;
}
.spacer {
	width: 10px;
	height: 10px;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-1 {
	flex: 1;
}

