
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Gloria+Hallelujah&family=Reenie+Beanie&family=Yomogi&display=swap');

:root {
	--font-size-header: 2rem;
	--font-size-second-header: 2rem;
	--font-size-base: 1rem;
	--font-size-title: 1.6rem;

	--color-base: rgb(243 232 238);
	--color-text: rgb(5 5 5);
	--color-primary: rgb(186 205 176);
	--color-primary-content: rgb(46 44 47);
	--color-secondary: rgb(19 111 99);
	--color-secondary-content: rgb(243 232 238);
	--color-accent: rgb(106 50 159);

	--color-accent-light: rgb(182 142 219);
	--highlight-color: rgba(186 205 176 / 0.2);
}

html {
	background-color: var(--color-base);
	height: 100%;
}
h1 {
	font-size: var(--font-size-header);
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
	margin: 0px;
	color: var(--color-text);
	font-display: swap;
}
.title {
	font-size: var(--font-size-title);
	font-family: "Gloria Hallelujah", cursive;
	font-weight: 400;
	font-style: normal;
	margin: 0px;
	color: var(--color-text);
	font-display: swap;
}
h2 {
	font-size: var(--font-size-second-header);
	font-family: "Reenie Beanie", cursive;
	/* yomogi looks bad as a header font. */
	font-weight: 400;
	font-style: normal;
	margin: 0px;
	color: var(--color-accent);
	font-display: swap;
}
p, a {
	font-size: var(--font-size-base);
  font-family: "Coming Soon", cursive;
  font-weight: 400;
  font-style: normal;
	margin: 0px;
	color: var(--color-text);
	font-display: swap;
}
a {
  font-style: italic;
	text-decoration: none;
	margin: 0px;
	font-weight: bold;
	transition: color 0.5s ease-in;
}
a:link {
	color: var(--color-accent);
}
a:visited {
	color: var(--color-accent);
}
a:hover {
	color: var(--color-accent-light);
	transition: color 0.2s ease-out;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-direction: column;
}
.main-container {
	padding: 0.5rem;
	border: 1px solid var(--color-text);
	background-color: var(--color-base);
	box-shadow: 15px -8px var(--color-primary);
	/* move box-shadow in relation to
	 * the direction of the mouse 
	 * from the div.
	*/
}
.big-box {
	width: 30rem;
	height: 25rem;
}
.divider-vertical {
	border-right: 1px solid var(--color-text);
	align-self: stretch;
	opacity: 0.2;
}
.divider-horizontal {
	border-bottom: 1px solid var(--color-text);
	align-self: stretch;
	opacity: 0.2;
}
.max-h {
	height: 100%;
}
.max-w {
	width: 100%;
}
br {
	width: 10px;
	height: 10px;
}
.spacer {
	width: 10px;
	height: 10px;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-1 {
	flex: 1;
}
