
@media (max-width: 50rem) {
	.big-box {
		height: 95%;
		width: 95%;
		margin: 1rem 1rem;
	}
	.side-nav {
		height: 100%;
		padding: 0rem 0.5rem;
		display: flex;
		flex-direction: column;
		width: min-content;
	}
	/*
	.desktop-view { display: none; }
	.mobile-view { display: block; }
	*/
}
@media (max-height: 40rem) {
	.big-box {
		height: 95%;
		width: 95%;
		margin: 1rem 1rem;
	}
}
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation: none !important;
		transition: none !important;
		scroll-behavior: auto !important; 
	}
}
